<mat-toolbar color="primary" class="fix-nav">
  <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div class="nav-brand">
    Sea Admin
  </div>
  <form class="hidden-sm" style="margin-left: 20px; margin-top: 5px">
    <mat-form-field>
      <input matInput [placeholder]="'Search' | translate" />
    </mat-form-field>
  </form>
  <span class="nav-spacer"></span>
  <button class="hidden-sm profileBtn" mat-icon-button [matMenuTriggerFor]="profile">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profile="matMenu">
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span class="headerUsername">{{ name }}</span>
    </button>
  </mat-menu>
  <button class="log-out-btn" mat-icon-button (click)="onLoggedout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
